.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  z-index: 100;
  background-color: white;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.burger {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 10px;
  background: white;
  border-radius: 20px;
  padding: 5px;
}

.menu.open {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .navbar {
    background-image: url("/fond.jpg");
  }
  .burger {
    display: none;
  }

  .nav-link {
    color: white;
  }

  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 24px;
    background: none;
  }
}
